*{ 
	box-sizing: border-box; 
}
body{
	direction: rtl;
	width: 70%;
	margin: 0 auto;
	font-size: 87.5%; 
	font-family: arial;
	line-height: 1.5;
	text-align:right;
	background-color: #F0F0F0;
}

table, th, td {
    border:2px dotted black;
}
